@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@font-face {
    font-family:"Android" ;
    src: url(fontes/idroid.otf);
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-Android: "Android", cursive;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgba(255, 228, 196, 0.295);
    font-family: var(--fonte-padrão);
}
a.externo::after{
    content: '\00A0\1F517';
}
main{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding:20px      
}
main strong{
    color: var(--cor4);
    
}
main a{
    padding: 2px 6px;
    background-color: var(--cor1);
    color: var(--cor4);
    text-decoration: none;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}
main h2{
    background-image: linear-gradient(to right, var(--cor2), transparent);
    color: var(--cor5);
    font-weight: normal;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.164);
    
    
}
nav > a {
    color: var(--cor1);  
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
nav >a:hover{
    transition-duration: 0.5s;
    color: var(--cor5);
    background-color: var(--cor3) 
    
}

header{
   background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-top:20px;
    margin-bottom:20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.658);
    
}
header > p{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    font-family: var(--fonte-padrão);
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    

}
main p{
    text-indent: 30px;
    margin: 20px 0px;
    text-align: justify;
    line-height: 2em;
    
}
main h1 {
    color: var(--cor3);
    font-family: var(--fonte-Android);
    font-weight: normal;
    font-size: 1.6;
    
}
main h2{
    font-family: var(--fonte-Android);
    font-weight: normal;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    color: var(--cor1);
}
main img{
    width: 100%;
}
main img.pequena{
    display: block;
    margin: auto;
    max-width: 350px;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.356);
}
aside > ul{
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    columns: 2;
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20pxpx;
    padding-bottom: 58.6%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 0%;
    left: 0%;
    
    height: 100%;
    width: 100%;   
}