@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    
}
body{
    background-image: linear-gradient(to left, white, gray);
    height: 100%
}
p{
    text-align: justify;
}
h1{
    
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(214, 195, 195, 0.411);
}
main{
    box-shadow: rgb(126, 126, 126) 3px 3px 2px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 20px; 
}