@charset "UTF-8";
/*
  Em HTML é id = em css é # (so pode um elemento
  EM HTML é class = em css é . (pode varios elementos)
*/
body{
    background-color: rgb(162, 187, 211);
    font-family: Arial, Helvetica, sans-serif;

}
h1{
   color: rgb(86, 119, 150);

}
h2{
    color: rgb(69, 82, 94);

}
h1#principal{
    text-align: center;
    background-color: rgb(197, 228, 240);
    
}
.basico{
    color: rebeccapurple;

}
.intermediario{
    color: rgb(255, 255, 255);

}
.avancado{
    color: rgba(255, 0, 0, 0.63);

}
.destaque{
    background-color: rgba(0, 0, 255, 0.274);
}